{% extends "base/base.html" %}

{% block content %}
<div class="row">
    <form method="post" >
        {% csrf_token %}
        {% include "base/alert.html" %}
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" name="email" required id="formLoginEmail" class="form-control" placeholder="Email"/>
        </div>

        <!-- Password input -->

        <div class="form-outline mb-4">
            <input type="password" name="password" required id="formLoginPassword" class="form-control"
                   placeholder="Password"/>
        </div>


        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
    </form>
</div>
{% endblock %}