{% extends "base/base.html" %}

{% block content %}
<div class="row">
<form method="post" novalidate>
    {% csrf_token %}
    <div class="form-group mb-4">
        {{ form.first_name.label_p }}
        <input type="text" name="{{ form.first_name.name }}" class="form-control {% if form.first_name.errors %} is-invalid {% endif %}"
               value="{% if form.first_name.value %} {{form.first_name.value }}{%endif%}" placeholder="{{ form.first_name.label }}"/>
        {% if form.first_name.errors %}
        <div class="invalid-feedback">
            {{ form.first_name.errors }}
        </div>
        {% endif %}
    </div>
    <div class="form-group mb-4">
        {{ form.last_name.label_p }}
        <input type="text" name="{{ form.last_name.name }}" class="form-control {% if form.last_name.errors %} is-invalid {% endif %}"
               value="{% if form.last_name.value %} {{form.last_name.value }}{%endif%}" placeholder="{{ form.last_name.label }}"/>
        {% if form.last_name.errors %}
        <div class="invalid-feedback">
            {{ form.last_name.errors }}
        </div>
        {% endif %}
    </div>
    <div class="form-group mb-4">
        {{ form.email.label_p }}
        <input type="email" name="{{ form.email.name }}" class="form-control {% if form.email.errors %} is-invalid {% endif %}"
               value="{% if form.email.value %} {{form.email.value }}{%endif%}" placeholder="{{ form.email.label }}"/>
        {% if form.email.errors %}
        <div class="invalid-feedback">
            {{ form.email.errors }}
        </div>
        {% endif %}
    </div>
    <div class="form-group mb-4">
        {{ form.password1.label_p }}
        <input type="password" name="{{ form.password1.name }}" class="form-control {% if form.password1.errors %} is-invalid {% endif %}"
                placeholder="{{ form.password1.label }}"/>
        {% if form.password1.errors %}
        <div class="invalid-feedback">
            {{ form.password1.errors }}
        </div>
        {% endif %}
    </div>
    <div class="form-group mb-4">
        {{ form.password2.label_p }}
        <input type="password" name="{{ form.password2.name }}" class="form-control {% if form.password2.errors %} is-invalid {% endif %}"
                placeholder="{{ form.password2.label }}"/>
        {% if form.password2.errors %}
        <div class="invalid-feedback">
            {{ form.password2.errors }}
        </div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>





</div>
{% endblock %}